@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
	background: #e9e9e9;
	color: #555555;
	font: 100%/1.5em "Droid Sans", sans-serif;
	margin: 0;
}

a { text-decoration: none; }

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

h4, h5 {
	line-height: 1.5em;
	margin: 0;
}

hr {
	background: white;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 2px;
    margin: 0;
    min-height: 1px;
}

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

input {
	border: 0;
	color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
	bottom: 0;
	font-size: 12px;
	position: fixed;
	width: 100%;
}

#live-chat header {
	background: #08a8ee;
	border-radius: 0 0 0 0;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
}

#live-chat h4:before {
	background: #1a8a34;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height:10%;
	margin: 0 8px 0 0;
	width: 10%;
}
.menu{
	background-color:#08a8ee;
height:3em;
border-radius: 3px;
width:3.5em;
}
#live-chat h4 {
	font-size: 18px;
}

#live-chat h5 {
	font-size: 10px;
}

#live-chat form {
	padding: 5%;
}

#live-chat input[type="text"] {
	border: 1px solid black;
	border-radius: 3px;
	display:inline-block;
	padding: 8px;
	outline: none;
	width: 230px;
	
}
.btn{
	background-color:#08a8ee;
height:2.4em;
border-radius: 3px;
width:2.4em;
}
.chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}

.chat-close {
	background: #08a8ee;
	color: #fff;
	display: block;
	float: right;
	font-size: 10px;
	height: 30px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 30px;
}

.chat {
	background: #ECECEC;
}

.chat-history {
	height: 290px;
	padding: 8px 24px;
	overflow-y: scroll;
}

.chat-message {
	margin: 16px 0;
}

.chat-message img {
	border-radius: 50%;
	float: left;
}

.chat-message-content {
	margin-left: 56px;
}

.chat-time {
	float: right;
	font-size: 10px;
}

.chat-feedback {
	font-style: italic;	
	margin: 0 0 0 0px;
   text-align:center;
}