body
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #ccc;
	background-size: cover;background-image: linear-gradient(rgba(255, 255, 255, 0) 
	25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0) 
	50%, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0))
}
#first
{
  content: "";
  background: url();
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.30;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
#second
{
	border-radius: 20px;
	background-color: none;
    display:block; 
    width:100px; 
    height:100px; 
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-80px; 
    margin-left:-50px;
	background-size: cover;
}
#display
{
	border-radius: 10px;
	border:2px solid #000000;
	background-color:#ffffff;
	background-color: none;
    display:block; 
    width:100px; 
    height:50px; 
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:30px; 
    margin-left:-50px;
	background-size: cover;
	opacity: 0.50;
	width:50%;
}
h1
{
	color:#040303;
	font-size:15px;
}
h4
{
	color:#040303;
	font-size:8px;
}



