.body
{
background-repeat:no-repeat;
background-position:center center;
background-attachment:fixed;
-o-background-size: 100% 100%, auto;
-moz-background-size: 100% 100%, auto;
-webkit-background-size: 100% 100%, auto;
background-size: 100% 100%, auto;
}
#account
{
background-color:white;
}
h2 img
{
	border=0; 
	height=80; 
	width=80;
}
#logo
{
	border-radius: .5em;
	background-color: none;
    display:block; 
    width:4.5em; 
    height:4.5em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-13em; 
    margin-left:-2.24em;
	background-size: cover;
}
.logo
{
	border-radius: .5em;
	background-color: none;
    display:block; 
    
    position:absolute; 
    top:50%; 
    left:50%; 
    
   
	background-size: cover;
}
#logoselect1
{
	margin-left:-3.4em;
	margin-top:-7.7em;
	width:6.4em; 
    height:6.8em;
}
#logoselect
{
	margin-left:-3.6em;
	margin-top:-6.2em;
	width:7.2em; 
    height:5.3em;
}
#logoindex
{
	border-radius: .5em;
	background-color: none;
    display:block; 
    width:4.5em; 
    height:4.5em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-4em; 
    margin-left:-2.24em;
	background-size: cover;
}
#volleyindex
{
	background-color: none;
    display:block; 
    width:4.8em; 
    height:1.5em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:.8em; 
    margin-left:-2.4em;
	background-size: cover;
}
#socialindex
{
	aling:center;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:2.5em; 
	margin-left:-5.4em;
	background-size: cover;
	color:white;
	
}
#managementindex
{
	aling:center;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:3.5em; 
	margin-left:-4.7em;
	background-size: cover;
	color:white;
}
#volley
{
	background-color: none;
    display:block; 
    width:4.8em; 
    height:1.5em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-8.2em; 
    margin-left:-2.4em;
	background-size: cover;
}
#social
{
	aling:center;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:-6.5em; 
	margin-left:-5.4em;
	background-size: cover;
	color:white;
	
}
#management
{
	aling:center;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:-5.5em; 
	margin-left:-4.7em;
	background-size: cover;
	color:white;
}
#txtuser
{
	border-radius: .2em;
	background-color: white;
    display:block; 
    width:18.5em; 
    height:2.5em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-2em; 
    margin-left:-9.25em;
	background-size: cover;
}

#txtpass
{
	border-radius: .2em;
	background-color: white;
    display:block; 
    width:18.5em; 
    height:2.5em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:2.8em; 
    margin-left:-9.25em;
	background-size: cover;
}
#lblemail
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:-4em; 
	margin-left:-11.7em;
	background-size: cover;
	color:white;
	font-size:12px;
	
}
#lblpass
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:2.4em; 
	margin-left:-11.7em;
	background-size: cover;
	color:white;
	font-size:12px;
	
}
#lbltext
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:1em; 
	margin-left:-11.7em;
	background-size: cover;
	color:white;
	font-size:12px;
	
}
#lbltext1
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:2.4em; 
	margin-left:-10.7em;
	background-size: cover;
	color:white;
	font-size:12px;
	
}
#lbltext2
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:3.8em; 
	margin-left:-8em;
	background-size: cover;
	color:white;
	font-size:12px;
	
}
#lbltext3
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:1em; 
	margin-left:-8.7em;
	background-size: cover;
	color:black;
	font-size:12px;
	
}
#lbltext4
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:2.4em; 
	margin-left:-8.7em;
	background-size: cover;
	color:black;
	font-size:12px;
	
}
#lbltext5
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:3.8em; 
	margin-left:-4.5em;
	background-size: cover;
	color:black;
	font-size:12px;
	
}
#lbltextlevel3
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:1em; 
	margin-left:-8.7em;
	background-size: cover;
	color:black;
	font-size:12px;
	
}
#lbltextlevel4
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:2.4em; 
	margin-left:-8.6em;
	background-size: cover;
	color:black;
	font-size:12px;
	
}
#lbltextlevel5
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:3.8em; 
	margin-left:-8.1em;
	background-size: cover;
	color:black;
	font-size:12px;
	
}
#lbltextlevel6
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:5.2em; 
	margin-left:-8.3em;
	background-size: cover;
	color:black;
	font-size:12px;
	
}
#lbltextlevel7
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:6.6em; 
	margin-left:-1.9em;
	background-size: cover;
	color:black;
	font-size:12px;
	
}
#container_liks
{
	border-radius: .2em;
	background-color: none;
    display:block; 
    width:15.5em; 
    height:3.5em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:2.8em; 
    margin-left:-7.5em;
	background-size: cover;
	
}
a
{
	text-decoration:none; 
}
#forgot
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:8.4em; 
	margin-left:-11.7em;
	background-size: cover;
	color:white;
	font-size:12px;
	
}
#dont
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:8.4em; 
	margin-left:-2em;
	background-size: cover;
	color:white;
	font-size:12px;	
	text-decoration:none; 
}
#singup
{
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:8.4em; 
	margin-left:8.7em;
	background-size: cover;
	color:white;
	font-size:12px;
	text-decoration:none; 
}
#circle1
{
	border-radius: 10em;
    display:block; 
    width:.7em; 
    height:.7em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:4.2em; 
    margin-left:-1.5em;
	text-align:center;
	border:.1em solid black;
	background-color:#0aafa6;
	text-decoration:none; 
}
#circle2
{
	border-radius: 10em;
    display:block; 
    width:.7em; 
    height:.7em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:4.2em; 
    margin-left:-.5em;
	text-align:center;
	border:.1em solid black;
	background-color:#0aafa6;
	text-decoration:none; 
}
#circle3
{
	border-radius: 10em;
    display:block; 
    width:.7em; 
    height:.7em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:4.2em; 
    margin-left:.7em;
	text-align:center;
	border:.1em solid black;
	background-color:#0aafa6;
	text-decoration:none; 
}
#circleaccount1
{
	border-radius: 10em;
    display:block; 
    width:.7em; 
    height:.7em;
    position:absolute; 
    top:50%; 
    left:50%; 
     margin-top:11.2em;  
    margin-left:-1.5em;
	text-align:center;
	border:.1em solid black;
	background-color:#0aafa6;
	text-decoration:none; 
}
#circleaccount2
{
	border-radius: 10em;
    display:block; 
    width:.7em; 
    height:.7em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:11.2em; 
    margin-left:-.5em;
	text-align:center;
	border:.1em solid black;
	background-color:#0aafa6;
	text-decoration:none; 
}
#circleaccount3
{
	border-radius: 10em;
    display:block; 
    width:.7em; 
    height:.7em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:11.2em; 
    margin-left:.5em;
	text-align:center;
	border:.1em solid black;
	background-color:#0aafa6;
	text-decoration:none; 
}
#your_account
{
	color:black;
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:-8.2em; 
    margin-left:-4.8em;
	background-size: cover;
}
#public
{
	color:#black;
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:-.5em; 
    margin-left:-1.75em;
	background-size: cover;
}
#your_accountlevel
{
	color:black;
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:-8.2em; 
    margin-left:-2.8em;
	background-size: cover;
}
#publiclevel
{
	color:#black;
	aling:left;
	font-aling:left;
	margin:-1.5% 0;
	position:absolute;
	top:50%; 
	left:50%;
	margin-top:-.5em; 
    margin-left:-2.7em;
	background-size: cover;
}
#btnlogin
{
	border-radius: .2em;
	background-color: none;
    display:block; 
    width:7.5em; 
    height:1em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:10em; 
    margin-left:-3.9em;
	background-size: cover;
	background-color:#0aafa6;
	border:.15em solid #17a2b3;
	text-align:center;
	color:white;
	padding-top: 5%;
	padding-bottom: 5%;
	text-decoration:none; 
}
#btnlogin1
{
	border-radius: .2em;
	background-color: none;
    display:block; 
    width:7.5em; 
    height:1em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:10em; 
    margin-left:.7em;
	background-size: cover;
	background-color:#0aafa6;
	border:.15em solid #17a2b3;
	text-align:center;
	color:white;
	padding-top: 5%;
	padding-bottom: 5%;
	text-decoration:none; 
}
#btnselect
{
	border-radius: .2em;
	background-color: none;
    display:block; 
    width:7.5em; 
    height:1em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:5em; 
    margin-left:-3.9em;
	background-size: cover;
	background-color:#0aafa6;
	border:.15em solid #17a2b3;
	text-align:center;
	color:white;
	padding-top: 5%;
	padding-bottom: 5%;
	text-decoration:none; 
}
#btnselectlevel
{
	border-radius: .2em;
	background-color: none;
    display:block; 
    width:7.5em; 
    height:1em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:6.5em; 
    margin-left:-3.9em;
	background-size: cover;
	background-color:#0aafa6;
	border:.15em solid #17a2b3;
	text-align:center;
	color:white;
	padding-top: 5%;
	padding-bottom: 5%;
	text-decoration:none; 
}
#new
{
	border-radius: .2em;
	background-color: none;
    display:block; 
    width:7.5em; 
    height:1em;
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:10em; 
    margin-left:-8.4em;
	background-size: cover;
	background-color:#0aafa6;
	border:.15em solid #17a2b3;
	text-align:center;
	color:white;
	padding-top: 5%;
	padding-bottom: 5%;
	text-decoration:none; 
}
.medida
{
	position:absolute; 
	 width:100%; 
    height:35%;
    top:1.5%; 
    left:50%; 
    margin-top:-0.5em; 
    margin-left:-10em;
    
}
input
{
	border:transparent;
	background-color:transparent;
	padding-bottom: 5%;
	text-decoration:none;
	backround:none;
	border-width:0; 
    height:1em;
    border-radius: .2em;
    font-size:14px;
    
}
#gray
{
	Background-color:#515151;	
}

.btn
{
	border-radius: .2em;
	background-color: none;
    display:block; 
    width:7.5em; 
    height:1em;
	background-size: cover;
	background-color:#515151;
	border:.09em solid #fff;
	text-align:center;
	color:white;
}
.colorfontwhite
{
	color:#fff;
	padding-top: 5%;
	padding-bottom: -2%;
	text-decoration:none; 
	 margin-top:0em; 
    margin-left:1em;
}
#up
{
	 margin-top:-1.3em; 
}

#ok_loginproblem
{
	position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:1.5em; 
    margin-left:-9em;
    padding-top: 5%;
	padding-bottom: 5%;
	text-decoration:none; 
}
/*Agrega tu CSS a continuación!*/

